ion-content ion-toolbar {
  --background: translucent;
}

ion-icon {
  font-size: 35px;
}

ion-col {
  text-align: center;
}

ion-grid {
  ion-col.weekend {
    &:first-of-type {
      border-right: 1px solid grey;
    }
  }
}

ion-label {
  margin-bottom: 5px;
  display: block;
}

ion-card {
  ion-card-header {
    padding-bottom: 0;
  }

  .weather {
    padding: 5px;
    border-radius: 4px;
    background-color: green;
    color: #222428;
    font-weight: 500;
  }
}